{% extends 'base.html' %}
{% block title %}All Products{% endblock %}

{% block body_block %}
<div class="container">
    {% for item in product_list %}
      {% if forloop.counter0|divisibleby:3 %}
        <div class="row mb-4">
      {% endif %}
      <div class="col-sm-4">
        <!-- Content for item -->
        <img src="{{ item.img_link }}" alt="{{ item.name }}" width="200" height="200">
        <a href="{% url 'products_app:product_detail' pk=item.id %}"><h2>{{ item.name }}</h2></a>
            <p>Price: ₹{{ item.price }}</p>
            <p>Description: {{ item.details|truncatechars:200 }}</p>
            <a href="{% url 'products_app:product_detail' pk=item.id %}">full details</a>
      </div>
      {% if forloop.counter0|add:1|divisibleby:3 or forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% endblock %}
