{% extends 'base.html' %}
{% block title %}{{ item.name }}{% endblock %}

{% block body_block %}

<div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="{{ item.image.url }}" alt="{{ item.name }}" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h1>{{ item.name }}</h1>
        <p><strong>Description:</strong> {{ item.details }}</p>
        <p><strong>Price:</strong> {{ item.price }}</p>
        <a href="{% url 'products_app:place_order' pk=item.id %}">
            <button type="button" class="btn btn-primary">Buy now</button>
        </a>
        
        <!-- Additional product details -->
      </div>
    </div>
  </div>

{% endblock %}